/**
 * IEEE Vis 2013 presentation document theme.
 * Feel free to use / repurpose.
 * Curran Kelleher 10/3/2013
 * curran.kelleher@gmail.com
 */

/* Use the OpenSans font for everything. */
body {
  font-family: 'OpenSans', serif;
}

/* Position the image behind the title section. */
#firstSlideBackground, #slideBackground {
  position: absolute;
  top: 0;
  left: 0;

  /* This causes text to show above the image. */
  z-index:-1; 

  /* The following cause left-right scroll bars to not appear. */
  overflow: hidden;
  width: 100%;
}

/* Position the fixed position image behind the other sections. */
#slideBackground {
  z-index:-2; 
  position: fixed;
}

/* Position the small logo image at a fixed location. */
#logo {
  position:fixed;
  left: 80px;
  bottom: 10px;
}

/* Use the OpenSans font from the Google Font API. */
@font-face {
  font-family: 'OpenSans';
  src: url('openSans.woff');
}

/* Style the title in the title section. */
#title {
  text-align:right;
  font-family: 'OpenSans', serif;
  font-size: 4em;
  color: #e73e27;
}

/* Style the subtitle in the title section. */
#subtitle {
  text-align:right;
  font-size: 3em;
  color: #254b51;
  padding-top:15px;
  padding-bottom:20px;
}

#content {
  margin-top: 300px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.spacer {
  padding-top: 150px;
  padding-bottom: 150px;
}

h1 {
  font-size: 3em;
  color: #e73e27;
  padding-bottom:10px;
}

li {
  font-size: 2em;
  color: #254b51;
  list-style:none; /* Get rid of normal bullet */
  padding-top:5px;
  padding-bottom:5px;
}

/* This styled bullet replaces the normal one */
li:before {
  content: "\2022";
  font-size:1.5em;
  color: #e73e27;
  position: relative;
  top:0.13em;
  padding-right:.25em;
}
