/**
 * IEEE Vis 2013 presentation document theme.
 * Feel free to use / repurpose.
 * Curran Kelleher 10/3/2013
 */

body {
  
  /**
   * Use a repeating background image from the IEEE Vis 2013 PowerPoint template.
   * from http://www.ieeevis.org/year/2013/info/presenter-information/authors
   */
  background-image:url('vis2013repeat.png');
  background-repeat:repeat-y;

  font-family: 'OpenSans', serif;
}

/* Position the vis header image at the top. */
#vis2013top {
  position: absolute;
  top: 0;
  left: 0;

  /* This causes text to show above the image. */
  z-index:-1; 

  /* The following cause left-right scroll bars to not appear. */
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Position the small logo image at a fixed location. */
#visLogo {
  position:fixed;
  right: 0px;
  bottom: 0px;
}

@font-face {
  font-family: 'OpenSans';
  src: url('openSans.woff');
}

#title {
  text-align:right;
  font-family: 'OpenSans', serif;
  font-size: 4em;
  color: #e73e27;
}

#subtitle {
  text-align:right;
  font-size: 3em;
  color: #254b51;
  padding-top:15px;
  padding-bottom:20px;
}

#content {
  margin-top: 300px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.spacer {
  padding-top: 300px;
}

h1 {
  font-size: 3em;
  color: #e73e27;
  padding-bottom:10px;
}

li {
  font-size: 2em;
  color: #254b51;
  list-style:none; /* Get rid of normal bullet */
  padding-top:10px;
  padding-bottom:10px;
}

/* This styled bullet replaces the normal one */
li:before {
  content: "\2022";
  font-size:1.5em;
  color: #e73e27;
  position: relative;
  top:0.13em;
  padding-right:.25em;
}
